@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
/* @import "antd/dist/antd.css"; */

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;


}

a, ul {
  text-decoration: none;
}

.main-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transform: translate(50%, 3%);

}

.div-content {
  width: 80%;
  background-color: #ffff;
  height: 200vh;
}

.children_div {

  background-color: #f9fafc;
}

.topbar {
  width: 15%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100vh;
  padding: 10px;
  padding-top: 50px;

}



.sub_container {
  display: flex;
  /* gap: 10px; */
}



.topbar>.link {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  text-align: start;
  color: #000;
  font-size: 16px;
  font-weight: 500;

}

/* antd custum styles */

:where(.css-dev-only-do-not-override-aj88s5).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  /* border-left: 1px solid #d9d9d9 !important; */
  background: #ffffff;
  /* border-radius: 2px; */
  border: none;
  text-align: center;
}


.ant-select-outlined:not(.ant-select-disabled):hover .ant-select-selector,
.ant-select-outlined:not(.ant-select-disabled):focus .ant-select-selector {
  box-shadow: none !important;
  outline: none;
  border: none;
  border-color: transparent !important;
  text-align: center;
}


.ant-select-selection-item {
  display: flex;
  align-items: center;
  justify-content: center;
}