@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;

}

a, ul {
  text-decoration: none;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-content {
  width: 80%;
  background-color: #ffff;
  height: 200vh;
}

.topbar {
  width: 15%;
  display: flex;
  flex-direction: column;
  background-color: #F9FAFC;
  height: 100vh;
  padding: 10px;
  padding-top: 50px;

}



.sub_container {
  display: flex;
  gap: 10px;
}



.topbar>.link {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  text-align: start;
  color: #000;
  font-size: 16px;
  font-weight: 500;

}

/* Dashboard */
.dashboard_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translate(80%, 0%);
}

.group_card {
  display: flex;
  flex-direction: column;
}

.single_card {
  width: 400px;
  height: 80px;
  background-color: #F9FAFC;
  border: 1px solid #EEEEEE;
  margin-bottom: 5px;
}

.third_div {
  width: 400px;
  height: 80px;
  background-color: #e9e9fe;
  display: flex;
  justify-content: space-between;
}


.ant-card .ant-card-body {
  padding: 5px;
  border-radius: 0;
}

.logo {
  width: 20px;
  height: 20px;
}

.ant-dropdown-button {
  width: 390px !important;
}